@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: Raleway, serif;
    background: linear-gradient(160deg, #0051A0 0%, #FFFFFF 90%);
}

/* body.dark-theme {
    font-family: Raleway, serif;
    background: linear-gradient(160deg, #0051A0 0%, #FFFFFF 90%);
    filter: grayscale(50%);
} */

body.dark-mode {
    background: #222;
    color: #fff;
}

body.dark-mode {
    opacity: 0.7;
}

body.dark-mode * {
    opacity: 1;
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.536);
}

.navbar-toggler {
    background-color: white;
}

.sitebar {
    color: black;
    background: linear-gradient(190deg, #0051A0 0%, #FFFFFF 95%);
}

.card {
    color: black;
    font-family: Raleway, serif;
    background: linear-gradient(190deg, #0051A0 0%, #FFFFFF 95%);
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text {
    color: black;
    margin: auto auto;
    /*центрирование содержимого контейнера*/
}

.footer-text {
    color: white;
    margin: auto auto;
    /*центрирование содержимого контейнера*/
}

footer,
.btn-secondary {
    background: var(--bs-body-color)
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Для отображения всплывающего окна по нажатию на изображение */
/* Для jQuery */
/* .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .overlay img {
    max-width: 100%;
  } */


/* Для JS */
/* Стили для затемнения */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* затемнение на 70% */
    z-index: 999;
}

/* Стили для всплывающего окна */
.popup {
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    z-index: 1000;
}

/* Центрирование всплывающего окна по вертикали и горизонтали */
.popup:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.popup .content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}